// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.
//Colors
$red : #FF0707;
$orange: #FF9728;
$yellow: #f5db5c;
$green : #2AA34A;
$blue : #3E62D8;
$teal : #24D5F4;
$pink : #f976a8;
$purple: #4A1693;

//Gray
$gray-dark : #292B2C;
$gray : #54595B;
$gray-light : #B5B5B5;
$gray-lighter : #D2D2D2;
$gray-lightest: #E8E8EA 
// Reassign color vars to semantic color scheme
$brand-primary: $purple;
$brand-success: $green;
$brand-info : $teal;
$brand-warning: $orange;
$brand-danger : $red;
$brand-inverse: $gray-dark;

// Define colors for form feedback states and, by default, alerts.
$state-success-text : lighten($green, 5%);
$state-success-bg : lighten($green, 40%);
$state-success-border: darken($state-success-bg, 7%);

$state-info-text : lighten($teal, 5%);
$state-info-bg : lighten($teal, 35%);
$state-info-border : darken($state-info-bg, 7%);

$state-warning-text : lighten($orange, 5%);
$state-warning-bg : lighten($orange, 40%);
$mark-bg : $state-warning-bg;
$state-warning-border: darken($state-warning-bg, 7%);

$state-danger-text : lighten($red, 5%);
$state-danger-bg : lighten($red, 40%);
$state-danger-border : darken($state-danger-bg, 7%);

// Alerts
//
// Define alert colors.
$alert-success-bg : $state-success-bg;
$alert-success-text : $state-success-text;
$alert-success-border: $state-success-border;

$alert-info-bg : $state-info-bg;
$alert-info-text : $state-info-text;
$alert-info-border : $state-info-border;

$alert-warning-bg : $state-warning-bg;
$alert-warning-text : $state-warning-text;
$alert-warning-border: $state-warning-border;

$alert-danger-bg : $state-danger-bg;
$alert-danger-text : $state-danger-text;
$alert-danger-border : $state-danger-border;


// $body-bg : $gray-light;
$border-radius : .1rem;
$border-radius-lg: .15rem;
$border-radius-sm: .05rem;

// Body
//
// Settings for the `<body>` element.
$body-bg : $white;
$body-color : $gray-dark;
$inverse-bg : $gray-dark;
$inverse-color: $gray-lighter;

