$themecolor: #683BE5;
$themecolor-dark: #6028FC;

$primary: #7460ee;

$brown: #A87F48;

.topbar {
  .profile-pic {
    border: 1px solid $brown;
    padding: 1px;
  }
}

.register {
  padding-bottom: 0;
}

/* Media query */

@media screen and (min-width: 768px) {
  .register-box, .reset-box {
    width: 520px;
  }
}

.register-box {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.bg-img {
  background: url(../../assets/images/background/login-register-bg.png) repeat;
}

.message {
  align-items: center;
  animation-delay: 800ms;
  border-radius: 0;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10001;
  .msg, .close {
    text-align: center;
  }
  .msg {
    flex-basis: 90%;
  }
  .close {
    flex-basis: 10%;
  }
}