
// Body
$body-bg: #f5f8fa;

//Custom colors
$hover-background-list-items-color: #5e5e5e;
$active-list-item-color: darken(white,15%);
$custom-blue: #04A7FF;
$custom-orange: #ff7d33;
$custom-gray: #4b4e4f;

//Custom variables
$hover-list-items-color: $custom-orange;

// Brands
$brand-primary: #33b5e5;
$brand-info: #8e24aa;
$brand-success: #00e676;
$brand-warning: #ffbb33;
$brand-danger:  #ff4444;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

//Border radius
$border-radius-base: 2px;
$border-radius-large: 4px;
$border-radius-small: 3px;
