// Body
$body-bg: #f5f8fa;

//Custom colors
$custom-blue: rgba(4, 167, 255, 1);
$custom-green: rgba(0, 230, 118, 1);
$custom-orange: rgba(246, 121, 75, 1);
$custom-purple: rgba(135, 13, 217, 1);
$custom-red: rgba(252, 39, 39, 1);
$custom-gray: #9d9d9d;
$light-gray: lighten($custom-gray, 20%);
$dark-gray: darken($custom-gray, 22%);
$white: #fff;

//Custom variables
$hover-list-items-color: $custom-orange;

// Brands
$brand-primary: $custom-blue;
$brand-info: $custom-purple;
$brand-success: $custom-green;
$brand-warning: $custom-orange;
$brand-danger:  $custom-red;

// Typography
$font-family-sans-serif: Raleway', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

//Border radius
$border-radius-base: 3px;
$border-radius-large: 5px;
$border-radius-small: 2px;
